*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0b1220;
color:#fff;
}

header{
background:#111827;
padding:20px;
text-align:center;
font-size:30px;
font-weight:bold;
color:#00ff99;
box-shadow:0 0 20px rgba(0,255,153,.3);
}

.hero{
text-align:center;
padding:100px 20px;
}

.hero h1{
font-size:42px;
margin-bottom:20px;
}

.hero p{
color:#ccc;
font-size:18px;
margin-bottom:30px;
}

.btn{
display:inline-block;
padding:15px 35px;
background:#00ff99;
color:#000;
font-weight:bold;
text-decoration:none;
border-radius:8px;
transition:.3s;
}

.btn:hover{
background:#00cc77;
transform:scale(1.05);
}

footer{
background:#111827;
text-align:center;
padding:20px;
margin-top:80px;
color:#aaa;
}

.form-box {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.form-box h1 {
    color: #222;
    margin-bottom: 25px;
}

.form-box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-box button {
    width: 95%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #111;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-box a {
    color: blue;
}
