*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0d1117;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111827;
position:sticky;
top:0;
}

.logo h2{
color:#00ff88;
font-size:30px;
}

.menu{
display:flex;
list-style:none;
}

.menu li{
margin-left:30px;
}

.menu a{
text-decoration:none;
color:white;
font-size:18px;
transition:.3s;
}

.menu a:hover{
color:#00ff88;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 10%;
flex-wrap:wrap;
}

.hero-text{
max-width:500px;
}

.hero-text h1{
font-size:55px;
margin-bottom:20px;
}

.hero-text p{
font-size:20px;
line-height:32px;
margin-bottom:30px;
color:#cfcfcf;
}

.btn,
.btn2{
display:inline-block;
padding:15px 35px;
border-radius:10px;
text-decoration:none;
font-weight:bold;
margin-right:15px;
transition:.3s;
}

.btn{
background:#00ff88;
color:black;
}

.btn:hover{
background:white;
}

.btn2{
border:2px solid #00ff88;
color:#00ff88;
}

.btn2:hover{
background:#00ff88;
color:black;
}

.hero-image img{
width:450px;
border-radius:20px;
box-shadow:0 0 30px rgba(0,255,136,.4);
}
.stats{
display:flex;
justify-content:center;
gap:30px;
padding:60px 10%;
flex-wrap:wrap;
}

.box{
background:#161b22;
padding:30px;
width:250px;
text-align:center;
border-radius:15px;
box-shadow:0 0 20px rgba(0,255,136,.15);
transition:.3s;
}

.box:hover{
transform:translateY(-8px);
}

.box h2{
color:#00ff88;
font-size:38px;
margin-bottom:10px;
}

.features{
display:flex;
justify-content:center;
gap:30px;
padding:60px 10%;
flex-wrap:wrap;
}

.feature-card{
background:#161b22;
padding:30px;
width:320px;
border-radius:15px;
text-align:center;
box-shadow:0 0 20px rgba(0,255,136,.15);
transition:.3s;
}

.feature-card:hover{
transform:translateY(-8px);
}

.feature-card h2{
color:#00ff88;
margin-bottom:15px;
}

.feature-card p{
color:#d0d0d0;
line-height:28px;
}

footer{
background:#111827;
padding:30px;
text-align:center;
margin-top:60px;
}

footer h3{
color:#00ff88;
margin-bottom:10px;
}

@media(max-width:768px){

.navbar{
flex-direction:column;
}

.menu{
flex-direction:column;
margin-top:15px;
}

.menu li{
margin:10px 0;
}

.hero{
flex-direction:column;
text-align:center;
}

.hero-image img{
width:100%;
max-width:350px;
margin-top:40px;
}

.hero-text h1{
font-size:38px;
}

.hero-text p{
font-size:18px;
}

}
